.s-modal {

    .modal-dialog {
        width: 51rem;
        max-height: 80vh;

        @include media-breakpoint-down(lg) {
            width: 35.5rem;
        }

        @include media-breakpoint-down(sm) {
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
            margin: 0;
        }
    }

    .modal-container {
        width: 51rem;
        max-height: 80vh;

        @include media-breakpoint-down(lg) {
            width: 35.5rem;
        }

        @include media-breakpoint-down(sm) {
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }

    .modal-header {
        height: 7.5rem;
        padding: 3rem 3.75rem 3rem;
        box-shadow: $box-shadow-3;

        @include media-breakpoint-down(lg) {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        @include media-breakpoint-down(sm) {
            height: 4.375rem;
            margin: 0;
            padding: 1rem 1.5rem 1.5rem;
            border: 0;
            box-shadow: none;
        }
    }

    .modal-body {
        @extend %body-1;
        padding: 1.5rem 3.75rem;
        overflow-wrap: break-word;
        overflow-y: auto;

        @include media-breakpoint-down(sm) {
            height: 4.375rem;
            margin: 0;
            padding: 1.5rem;
        }
    }

    .modal-footer {
        justify-content: center;
        padding: 2.5rem 3.75rem;
        height: 7.5rem;
        box-shadow: $box-shadow-3;

        @include media-breakpoint-down(sm) {
            height: 4.375rem;
            margin: 0;
            padding-left: 1.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border: 0;
            box-shadow: none;
        }
    }

    .modal-content {
        width: 51rem;
        max-height: 80vh;

        @include media-breakpoint-down(lg) {
            width: 35.5rem;
        }

        @include media-breakpoint-down(sm) {
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
        }
    }
}